.flex-box{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width:60%!important;
    height:auto;

}
.topDist{
    position: absolute;
    top:80px;
    
 }
 .w60{
   width:60%;
   margin-left: 20%;
 }
 .margin-right{
    display: inline-block;
    margin-right: 10px;
    
 }

 

